
@{
    ViewBag.Title = "ControllerDirective";
}

<script src="~/Scripts/AngularController/ControllerDirectiveController.js" type="text/javascript"></script>
@*<div ng-controller='ControllerDirectiveController'>
    
</div>*@
<h1>MyTest</h1>
<product-Panel></product-Panel>